<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Example</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.2/mustache.js"></script>

</head>
<body>
<div class="index-container">
    <h2>Bold Vision</h2>
    <div class="login-container">
        <a href="/signup" class="login-button">Sign Up</a>
        <br><br>
        <a href="/signin" class="login-button">Sign In</a>
    </div>
</div>

<script src="/js/image.js"></script>
<script src="/js/index.js"></script>
</body>
</html>
