<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bol Vision</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <script type="text/javascript" src="/js/user.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.2/mustache.js"></script>

</head>
<body>
<h2 style="text-align: center;padding-top:20px;"><strong>LOGIN </strong></h2>
<div class="container-fluid" style="padding:100px;padding-top:30px;border-radius: 0.5rem;">
    <form onSubmit="validate(this); return false;" style="background: white;border-radius: 0.5rem;" >
        <div class="container" style="background: white;border-radius: 0.5rem;padding-top:30px;padding-bottom:30px;">
            <div>
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email Id" name="email" required>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <button type="submit">Sign In</button></div>
        </div>
    </form>
</div>
</body>
</html>
