<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload and Display</title>
</head>
<body>

<h2>Upload Image</h2>

<form id="uploadForm" enctype="multipart/form-data">
    <label for="image">Select Image:</label>
    <input type="file" id="image" name="image" accept="image/*">
    <br>
    <button type="button" onclick="uploadImage()">Upload</button>
</form>

<h2>Display Images</h2>

<div id="imageContainer" style="display:none">
    <img id="image" src="">
    <p id="content"></p>
    <p id="boldContent"></p>
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/image.js"></script>

</body>
</html>
